/*body {*/
  /*font-family: Futura, sans-serif;*/
  /*background-image: url('light-veneer.png');*/

/*}*/

/* body {
    width: 100%!important;
    height: 100%!important;
} 

body{
 height:100vh; 
 }
*/
body
{
padding:0px;
margin:0px;
width:100%;
height:100%;
}

/*#nav_bar {
  background-color: green;
  order-color: black;
}*/

.small-img {
    display:block;
    width: 80px;
    height: 80px;

    /*width:100%;*/
  }

.image-left {
    display:block;
    width:50px;
    height: 50px;
}

.wrapper {
  padding: 1px;
  margin: 0 auto;
  max-width: 1200px;
  border: 8px d Steelblue;
  border-bottom: none;
}
  
.hidden {
  display: none;
}

/*.active-cyan-2  {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}*/

.card {
  
  display: block;
  margin: auto, auto, auto, auto;
  border: 1px solid cadetblue;
  padding: 10px;
  
  
}

.more {
  font-size: 10px;
  background-color: #4CAF50;
  color: white!important;
}



.cuisine {
  padding: 1px;
  margin: 0 auto;
  text-align: center;
  font-family:  Cardo;
  font-size: 20px!important;
  
}
 
 .img-top {
    
    padding: 150px;
    margin: 0 auto;
    background: url(purple.jpg);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    color: #A33A80;
    text-shadow: 2px 2px white;
}

.card-img-top {
    height: 17rem;
    /*object-fit: cover;*/
}

.font-top {
 
    font-family: Lobster, Times new roman;
    text-align: center;
    margin: 20px 0;
    padding: 0 30px;
   
  }

  .size-font {
     font-size: 50px;
  }

  .button5 {
    background-color: #4CAF50; 
    border-radius: 80%;
    color: black;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    transition-duration: 0.4s;
    background-color: transparent; 
    border: 2px solid #A33A80;;
    margin: 30px;
}

 .section-search {
    padding: 20px!important;
    margin: 0 auto!important;
    background-color: transparent!important; 
    font-size: 20rem!important;

 }

.card-text-header {
     font-size: 20px;
  }

.edit-page {
  /*background-image: url('for_new_dish.jpg');*/
  width: 50%;
  color: black;
  padding: 80px;
  margin: 0px;
  font-family: Cardo;


 }
.back-image {
  background-image: url('apple-close-up-delicious-533343.jpg');
   display:block;
   /*background-size: 800px 800px;*/
   background-repeat: no-repeat;
   /*margin: 20px auto;*/

    background-size: cover;

}
.edit-font {
  font-size: 20px!important;
}

.insite-input {
  font-size: 15px!important;
  border-color: #4CAF50!important;
}

.button2 {
  font-size: 20px;
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.img-carted {
     width: 2px;
     height: 100%;
    
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

#customers tr:nth-child(even){background-color: lemonchiffon;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #9055A2;
    color: white;
}

/*.btn-remove {
   
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent; 
}*/

/*.btn-checkout {
  
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: wheat;
  color: white;
   padding-top: 12px;
    width: 100%;
    font-size: 16px;

}*/
.nav-font {
  font-size: 15px!important;
}

