body {
  font-family: Futura, sans-serif;
  background-image: url('retina_wood.png');
}

.small-img {
    display:block;
    width: 100px;
  }

 .wrapper {
    display: flex;
    max-width: 444px;
    flex-wrap: wrap;
    padding-top: 12px;
  }