<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
   <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css?family=Pirata+One" rel="stylesheet" type="text/css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="dishes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

    <!-- from theme -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="vendor/bootstrap-select/css/bootstrap-select.min.css">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="vendor/nouislider/nouislider.css">
    <!-- Custom font icons-->
    <link rel="stylesheet" href="css/custom-fonticons.css">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700">
    <!-- owl carousel-->
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
   

    <!-- end theme -->



    <title>Dishes Index</title>


 
  </head>

  <body>
  <div id="vue-app">
 <!--   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/#/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/#/"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/#/">Menu</a>
        </li>

        
        <li class="nav-item">
        <a class="nav-link" href="/#/current_user/">My account</a>

        </li>

        <li class="nav-item">
         <a class="dropdown-item" href="/#/signup">SignUp</a>
        </li>
        <li class="nav-item">
           <a class="dropdown-item" href="/#/login">LogIn</a>
        </li>
        <li class="nav-item">
           <a class="dropdown-item" href="/#/logout">LogOut</a>
        </li>
       
      </ul>
     </div>
   </nav>
 -->
  
   

    <!-- header from theme -->
    <header class="header">
      <!-- Tob Bar-->
      <div class="top-bar">
        <div class="container-fluid">
          <div class="row d-flex align-items-center">
            <div class="col-lg-6 hidden-lg-down text-col">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="icon-telephone"></i>020-800-456-747</li>
                <li class="list-inline-item">Free shipping on orders over $300</li>
              </ul>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
              <!-- Language Dropdown-->
              <div class="dropdown show"><a id="langsDropdown" href="https://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><img src="img/united-kingdom.svg" alt="english">English</a>
                <div aria-labelledby="langsDropdown" class="dropdown-menu"><a href="#" class="dropdown-item"><img src="img/germany.svg" alt="german">German</a><a href="#" class="dropdown-item"> <img src="img/france.svg" alt="french">French</a></div>
              </div>
              <!-- Currency Dropdown-->
              <div class="dropdown show"><a id="currencyDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">USD</a>
                <div aria-labelledby="currencyDropdown" class="dropdown-menu"><a href="#" class="dropdown-item">EUR</a><a href="#" class="dropdown-item"> GBP</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg">
        <div class="search-area">
          <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <form action="#">
              <div class="form-group">
                <input type="search" name="search" id="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="container-fluid">  
          <!-- Navbar Header  --><a href="index.html" class="navbar-brand"><img src="img/logo.png" alt="..."></a>
          <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
          <!-- Navbar Collapse -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item"><a href="index.html" class="nav-link active">Home</a>
              </li>
              <li class="nav-item"><a href="category.html" class="nav-link">Shop</a>
              </li>
              <!-- Megamenu-->
              <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" class="nav-link">Template<i class="fa fa-angle-down"></i></a>
                <div class="dropdown-menu megamenu">
                  <div class="row">
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-lg-3"><strong class="text-uppercase">Home</strong>
                          <ul class="list-unstyled">
                            <li><a href="index.html">Homepage 1</a></li>
                          </ul><strong class="text-uppercase">Shop</strong>
                          <ul class="list-unstyled">                                                   
                            <li><a href="category.html">Category - left sidebar</a></li>
                            <li><a href="category-right.html">Category - right sidebar</a></li>
                            <li><a href="category-full.html">Category - full width</a></li>
                            <li><a href="detail.html">Product detail</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-3"><strong class="text-uppercase">Order process</strong>
                          <ul class="list-unstyled">
                            <li><a href="cart.html">Shopping cart</a></li>
                            <li><a href="checkout1.html">Checkout 1 - Address</a></li>
                            <li><a href="checkout2.html">Checkout 2 - Delivery</a></li>
                            <li><a href="checkout3.html">Checkout 3 - Payment</a></li>
                            <li><a href="checkout4.html">Checkout 4 - Review             </a></li>
                            <li><a href="checkout5.html">Checkout 5 - Confirmation             </a></li>
                          </ul><strong class="text-uppercase">Blog</strong>
                          <ul class="list-unstyled">                                                   
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="post.html">Post                                                                                           </a></li>
                          </ul>
                        </div>
                        <div class="col-lg-3"><strong class="text-uppercase">Pages</strong>
                          <ul class="list-unstyled">
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="text.html">Text page</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="500.html">Error 500</a></li>
                            <li>More coming soon                                                    </li>
                          </ul>
                        </div>
                        <div class="col-lg-3"><strong class="text-uppercase">Customer</strong>
                          <ul class="list-unstyled">
                            <li><a href="customer-login.html">Login/sign up</a></li>
                            <li><a href="customer-orders.html">Orders</a></li>
                            <li><a href="customer-order.html">Order detail</a></li>
                            <li><a href="customer-addresses.html">Addresses</a></li>
                            <li><a href="customer-account.html">Profile</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="row services-block">
                        <div class="col-xl-3 col-lg-6 d-flex">
                          <div class="item d-flex align-items-center">
                            <div class="icon"><i class="icon-truck text-primary"></i></div>
                            <div class="text"><span class="text-uppercase">Free shipping &amp; return</span><small>Free Shipping over $300</small></div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 d-flex">
                          <div class="item d-flex align-items-center">
                            <div class="icon"><i class="icon-coin text-primary"></i></div>
                            <div class="text"><span class="text-uppercase">Money back guarantee</span><small>30 Days Money Back</small></div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 d-flex">
                          <div class="item d-flex align-items-center">
                            <div class="icon"><i class="icon-headphones text-primary"></i></div>
                            <div class="text"><span class="text-uppercase">020-800-456-747</span><small>24/7 Available Support</small></div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 d-flex">
                          <div class="item d-flex align-items-center">
                            <div class="icon"><i class="icon-secure-shield text-primary"></i></div>
                            <div class="text"><span class="text-uppercase">Secure Payment</span><small>Secure Payment</small></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 text-center product-col hidden-lg-down"><a href="detail.html" class="product-image"><img src="img/shirt.png" alt="..." class="img-fluid"></a>
                      <h6 class="text-uppercase product-heading"><a href="detail.html">Lose Oversized Shirt</a></h6>
                      <ul class="rate list-inline">
                        <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o text-primary"></i></li>
                      </ul><strong class="price text-primary">$65.00</strong><a href="#" class="btn btn-template wide">Add to cart</a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- /Megamenu end-->
              <!-- Multi level dropdown    -->
              <li class="nav-item dropdown"><a id="navbarDropdownMenuLink" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">Dropdown<i class="fa fa-angle-down"></i></a>
                <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Action</a></li>
                  <li><a href="#" class="dropdown-item">Another action</a></li>
                  <li class="dropdown-submenu"><a id="navbarDropdownMenuLink2" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">Dropdown link<i class="fa fa-angle-down"></i></a>
                    <ul aria-labelledby="navbarDropdownMenuLink2" class="dropdown-menu">
                      <li><a href="#" class="dropdown-item">Action</a></li>
                      <li class="dropdown-submenu"><a id="navbarDropdownMenuLink3" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                           
                          Another action<i class="fa fa-angle-down"></i></a>
                        <ul aria-labelledby="navbarDropdownMenuLink3" class="dropdown-menu">
                          <li><a href="#" class="dropdown-item">Action</a></li>
                          <li><a href="#" class="dropdown-item">Action</a></li>
                          <li><a href="#" class="dropdown-item">Action</a></li>
                          <li><a href="#" class="dropdown-item">Action</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="dropdown-item">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <!-- Multi level dropdown end-->
              <li class="nav-item"><a href="blog.html" class="nav-link">Blog </a>
              </li>
              <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a>
              </li>
            </ul>
            <div class="right-col d-flex align-items-lg-center flex-column flex-lg-row">
              <!-- Search Button-->
              <div class="search"><i class="icon-search"></i></div>
              <!-- User Not Logged - link to login page-->
              <div class="user"> <a id="userdetails" href="customer-login.html" class="user-link"><i class="icon-profile">                   </i></a></div>
              <!-- Cart Dropdown-->
              <div class="cart dropdown show"><a id="cartdetails" href="https://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="icon-cart"></i>
                  <div class="cart-no">1</div></a><a href="cart.html" class="text-primary view-cart">View Cart</a>
                <div aria-labelledby="cartdetails" class="dropdown-menu">
                  <!-- cart item-->
                  <div class="dropdown-item cart-product">
                    <div class="d-flex align-items-center">
                      <div class="img"><img src="img/hoodie-man-1.png" alt="..." class="img-fluid"></div>
                      <div class="details d-flex justify-content-between">
                        <div class="text"> <a href="#"><strong>Heather Gray Hoodie</strong></a><small>Quantity: 1 </small><span class="price">$75.00 </span></div><a href="#" class="delete"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </div>
                  </div>
                  <!-- total price-->
                  <div class="dropdown-item total-price d-flex justify-content-between"><span>Total</span><strong class="text-primary">$75.00</strong></div>
                  <!-- call to actions-->
                  <div class="dropdown-item CTA d-flex"><a href="cart.html" class="btn btn-template wide">View Cart</a><a href="checkout1.html" class="btn btn-template wide">Checkout</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header from theme -->

       <div class="container">
        <router-view></router-view>
      </div>

            <!-- Footer from theme-->
    <footer class="main-footer">
      <!-- Service Block-->
      <div class="services-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
              <div class="item d-flex align-items-center">
                <div class="icon"><i class="icon-truck"></i></div>
                <div class="text">
                  <h6 class="no-margin text-uppercase">Free shipping &amp; return</h6><span>Free Shipping over $300</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
              <div class="item d-flex align-items-center">
                <div class="icon"><i class="icon-coin"></i></div>
                <div class="text">
                  <h6 class="no-margin text-uppercase">Money back guarantee</h6><span>30 Days Money Back Guarantee</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
              <div class="item d-flex align-items-center">
                <div class="icon"><i class="icon-headphones"></i></div>
                <div class="text">
                  <h6 class="no-margin text-uppercase">020-800-456-747</h6><span>24/7 Available Support</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Block -->
      <div class="main-block">
        <div class="container">
          <div class="row">
            <div class="info col-lg-4">
              <div class="logo"><img src="img/logo-white.png" alt="..."></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <ul class="social-menu list-inline">
                <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
              </ul>
            </div>
            <div class="site-links col-lg-2 col-md-6">
              <h5 class="text-uppercase">Shop</h5>
              <ul class="list-unstyled">
                <li> <a href="#">For Women</a></li>
                <li> <a href="#">For Men</a></li>
                <li> <a href="#">Stores</a></li>
                <li> <a href="#">Our Blog</a></li>
                <li> <a href="#">Shop</a></li>
              </ul>
            </div>
            <div class="site-links col-lg-2 col-md-6">
              <h5 class="text-uppercase">Company</h5>
              <ul class="list-unstyled">
                <li> <a href="#">Login</a></li>
                <li> <a href="#">Register</a></li>
                <li> <a href="#">Wishlist</a></li>
                <li> <a href="#">Our Products</a></li>
                <li> <a href="#">Checkouts</a></li>
              </ul>
            </div>
            <div class="newsletter col-lg-4">
              <h5 class="text-uppercase">Daily Offers & Discounts</h5>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
              <form action="#" id="newsletter-form">
                <div class="form-group">
                  <input type="email" name="subscribermail" placeholder="Your Email Address">
                  <button type="submit"> <i class="fa fa-paper-plane"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="text col-md-6">
              <p>&copy; 2017 <a href="https://ondrejsvestka.cz" target="_blank">Ondrej Svestka </a> All rights reserved.</p>
            </div>
            <div class="payment col-md-6 clearfix">
              <ul class="payment-list list-inline-item pull-right">
                <li class="list-inline-item"><img src="img/visa.svg" alt="..."></li>
                <li class="list-inline-item"><img src="img/mastercard.svg" alt="..."></li>
                <li class="list-inline-item"><img src="img/paypal.svg" alt="..."></li>
                <li class="list-inline-item"><img src="img/western-union.svg" alt="..."></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
        <!-- end footer from them -->
    

  </div>

   <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
   
    <!-- from theme -->
     <!-- Modernizr-->
    <script src="js/modernizr.custom.79639.js"></script>
    <!-- end theme -->
    
    <!-- from theme -->
    <!-- Javascript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="vendor/nouislider/nouislider.min.js"></script>
    <script src="js/front.js"></script>
    <!-- end theme -->

    <!-- VueJS Scripts -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Custonm JS -->
    <script src="index.js" defer></script>

</body>
</html>

  

<template id="signup-page">
  <div class="vue-component">

    <div class="container">
      <h1>Signup</h1>
      <ul>
        <li class="text-danger" v-for="error in errors">{{ error }}</li>
      </ul>
      <div class="form-group">
        <label>First Name:</label> 
        <input type="text" class="form-control" v-model="first_name">
      </div>
      <div class="form-group">
        <label>Last Name:</label> 
        <input type="text" class="form-control" v-model="last_name">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" v-model="email">
      </div>
      <div class="form-group">
        <label>Photo:</label>
        <input type="text" class="form-control" v-model="image_url">
      </div>
      <div class="form-group">
        <label>Phone number:</label>
        <input type="text" class="form-control" v-model="phone_number">
      </div>
      <div class="form-group">
        <label>Zipcode:</label>
        <input type="text" class="form-control" v-model="zipcode">
      </div>
      
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" v-model="password">
      </div>
      <div class="form-group">
        <label>Password confirmation:</label>
        <input type="password" class="form-control" v-model="passwordConfirmation">
      </div>
      <div class="form-group">
        <form action="">
         <input type="radio" name="provider" value="true" v-model="provider">Chief<br>
         <input type="radio" name="provider" value="false" v-model="provider">Customer<br>
        </form>
      <button class="btn btn-primary" v-on:click="submit()">Submit</button>
    </div>

  </div>
</template>

<template id="login-page">
  <div class="vue-component">

    <div class="container">
      <h1>Login</h1>
      <ul>
        <li class="text-danger" v-for="error in errors">{{ error }}</li>
      </ul>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" v-model="email">
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" v-model="password">
      </div>
      <button class="btn btn-primary" v-on:click="submit()">Submit</button>
    </div>

  </div>
</template>

<template id="profile-show-page">
    <div class="vue-component">

      <h1>Profile</h1>

    
    <h2>{{ current_user.first_name }}</h2>

    <div v-if="current_user.provider === true">   
      <a  href="/#/dishes/new">To create a new dish<span class="sr-only">(current)</span></a><br>
      <a  href="/#/">My Dish<span class="sr-only">(current)</span></a><br>
     <!--  <a :href="/#/"><button type="button" v-model="currentUserDish()" class="btn btn-secondary">Dishes</button></a> -->

    </div>
    <div v-if="current_user.provider === false">   
      <a  href="/#/carted_dishes/">My cart<span class="sr-only">(current)</span></a><br>
      <a  href="/#/orders/">My orders<span class="sr-only">(current)</span></a><br>
     
    

    </div>


  </div>
</template>



<template id="dish-index-page">

  <div class="vue-component wrapper">


    
     <div  class="img-top">

       <div class="font-top">
        <h3 style="font-size: 50px">Welcome to the world of homemade food</h3>
        <h3 style="font-size: 30px">Are you a chief or a customer?</h3>
       </div>

       
       <div align="center"> 
        <a href="/#/signup"><button class="button5" >SignUp</button></a>
        <a href="/#/login"><button class="button5">LogIn</button></a>
       </div>
       
     

    <!-- Search form -->
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
      <input type="text"  class="form-control" placeholder="Search dish here" aria-label="Search" v-model="nameDishFilter"/>
    </div>
     <!-- end search form -->

</div>


 
    <!-- Hide cuisine -->
    <div>
     <div class="cuisine">
       <button v-on:click="toggle()">Choose cuisine here</button>
       <br>
       <br>
     



    

   <div class="hidden" id="categories">
      <!-- <br> -->
        <hr class="seprt">
      <!-- <br> -->
      <button type="button" class="btn" v-for="category in categories" v-on:click="categoryFilter(category)">{{ category.title }}</button>
        
      <div align="center">
        <button  type="button" class="btn" v-on:click="categoryFilter('all')">All cuisine</button>
        <br>
        <br>
      </div>
   </div>
  </div>
 </div>
 <!-- end hide cuisin -->  
 <div class="card-deck">     

  <div class="row">

    <div v-for="dish in dishes" class="col-md-4">
      <div v-if="current_user.provider === false || dish.user_id === current_user.id">
      <!-- <div v-if="current_user.provider === false "> -->
    <div class="card mb-2">
   
      <div  v-if="isValidDish(dish)" >
        <h5 align="center" class="card-text-header name">{{  dish.name }}</h5>
        
          <img class="card-img-top " :src="dish.image_url" alt="Card image cap" >
          <div class="card-body ">
            <!-- <h5 class="card-text name">{{  dish.name }}</h5> -->

            <p class="card-text price">Price: {{  dish.price }}</p>
            <p class="card-text name">Chief: {{  dish.user.first_name }}</p>
            <p class="card-text name">Cuisine: {{  dish.category.title }}</p>
           
            <div >
             <a v-on:click="setCurrentDish(dish)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">More info</a>
           </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  </div>
 </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ currentDish.name }}</h5>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="small-img" :src="currentDish.image_url" alt="Card image cap">
            <!-- <p> {{ currentDish.price }}</p> -->
            <p> Description: {{ currentDish.description }}</p>
            <!-- <p> Chief: {{ currentDish.user}}</p> -->
           
          </div>

          <div class="modal-footer">


          <form class="form-inline">
    
 

      <div v-if="currentDish.user_id == current_user.id">
      <a :href="'/#/dishes/' + currentDish.id + '/edit'"><button type="button" class="btn btn-secondary">Edit Dish</button></a>
           
      <a :href="'/#/dishes/' + currentDish.id + '/delete'"><button type="button" class="btn btn-secondary">Delete Dish</button></a>
    </div>
 <!--  </div>

    <div class="modal-footer"> -->
      <div v-if="current_user.provider === false" >
      
       
       <!--  <label >Quantity:</label>  -->
        <input  type="number"  v-model="quantity" placeholder="Quantity">
      

      <a href="/#/carted_dishes/new"><button v-on:click="submit()" type="button" class="btn btn-secondary">Add to cart</button></a> 
     
    </div>                                                     
</form>
         
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
      </div>
    </div>
   <!-- </div> -->
  <!-- </div> -->
</div>


</template>

<template  id="dishes-new-page">
  <div class="vue-component">

    <div class="container back-image">
      <div class="edit-page ">
      <h1>New Dish</h1>
      <ul>
        <li class="text-danger" v-for="error in errors">{{ error }}</li>
      </ul>
      <div class="form-group edit-font">
        <label>Name:</label> 
        <input type="text" class="form-control" v-model="name">
      </div>
      <div class="form-group edit-font">
        <label>Price:</label>
        <input type="decimal" class="form-control" v-model="price">
      </div>
      <div class="form-group edit-font">
        <label>Description:</label>
        <input type="text" class="form-control" v-model="description">
      </div>

     <div class="edit-font">
      <label>Cuisine:</label>

      <div class="form-group" >
       
         <input type="text" class="form-control" v-model="category_id" list="titles">
        <datalist id="titles">

           <option v-for="category in categories"> {{ category.id + " " + category.title }}</option>

        </datalist>
      </div>
     </div>

      <div class="form-group edit-font">
        <label>Image:</label>
        <input type="text" class="form-control" v-model="image_url">
      </div>
           
      <button class="btn btn-primary" v-on:click="submit()">Submit</button>
    </div>
</div>
  </div>
</template>

<template id="dishes-edit-page">

  <div class="vue-component ">

  <div class="container back-image">
    <div class="edit-page ">
    <h1>Edit Dish</h1>
      <ul>
        <li class="text-danger" v-for="error in errors">{{ error }}</li>
      </ul>
      <div class="form-group edit-font">
        <label>Name:</label> 
        <input type="text" class="form-control" v-model="name">
      </div>
      <div class="form-group edit-font">
        <label>Price:</label>
        <input type="decimal" class="form-control" v-model="price">
      </div>
      <div class="form-group edit-font">
        <label>Description:</label>
        <input type="text" class="form-control" v-model="description">
      </div>

      <div class="edit-font">  
      <label>Cuisine:</label>

      <div class="form-group edit-font" >
       
         <input type="text" class="form-control" v-model="category_id" list="titles" >
        <datalist id="titles">

           <option v-for="category in categories">{{ category.id + " " + category.title }}</option>

        </datalist>
</div>

      </div>


      <div class="form-group edit-font">
        <label>Image:</label>
        <input type="text" class="form-control" v-model="image_url">
      </div>

      
 <button class="btn btn-primary edit-font" v-on:click="submit()">Submit</button>
  </div>
</div>
</div>
</template>



<template id="dishes-delete-page">
  <div class="vue-component">


  </div>
</template>





<template id="carted_dish-index-page">
 
  <!-- Hero Section from them -->
  <section class="hero hero-page gray-bg padding-small">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-9 order-2 order-lg-1">
            <h1>Shopping cart</h1><p class="lead text-muted">You currently have 3 items in your shopping cart</p>
          </div>
          <div class="col-lg-3 text-right order-1 order-lg-2">
            <ul class="breadcrumb justify-content-lg-end">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Shopping cart</li>
            </ul>
          </div>
        </div>
      </div>
    <!-- </section> -->
  <!-- end them -->


 <!--  <div class="vue-component"> -->
   <!-- <table class="table" >      
       <table id="customers" >
        <thead>
         <tr>
          <th>Dish</th>
          <th>Price</th> 
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Status</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="carted_dish in carted_dishes">
          <td >{{ carted_dish.dish.name }}</td>
          <td>{{  carted_dish.dish.price }}</td>
          <td>{{  carted_dish.quantity }}</td>
          <td>{{  carted_dish.subtotal_carted }}</td>
          <td>{{  carted_dish.status }}</td>
          <td><a :href="'/#/carted_dishes/' + carted_dish.id + '/delete'"><button type="button" class="btn-remove" ><i class="fa fa-trash"></i></button></a></td>         
        </tr>
       </tbody>
      </table>
    </table> -->
        <!-- <button class="btn-checkout pull-right"  v-on:click="checkout()">Checkout</button> -->
     <!-- </div>         -->
    

     <!-- Shopping Cart Section -->
    <section class="shopping-cart">
      <div class="container">
        <div class="basket">
          <div class="basket-holder">

              <div class="basket-header">
                <div class="row">
                  <div class="col-5">Dish</div>
                  <div class="col-2">Price</div>
                  <div class="col-2">Quantity</div>
                  <div class="col-2">Subtotal</div>
                  <div class="col-1 text-center">Remove</div>
                </div>
              </div>
            <div class="basket-body">
              <!-- Product-->
              <div class="item">
                <div v-for="carted_dish in carted_dishes">

                <div class="row d-flex align-items-center">
                    <div class="col-5">
                      <div class="d-flex align-items-center"><img :src="carted_dish.dish.image_url" alt="..." class="img-fluid">
                        <div class="name"><a href="detail.html">
                            <h5>{{ carted_dish.dish.name }}</h5><span class="text-muted"></span></a>
                        </div>
                      </div>
                    </div>
                  <div class="col-2"><span>{{  carted_dish.dish.price }}</span>
                  </div>
                  <div class="col-2">
                    <div class="d-flex align-items-center">
                      <div class="quantity d-flex align-items-center">
                        <!-- <div class="dec-btn">-</div> -->
                        <!-- <input type="text" value="4" class="quantity-no"> -->
                        <!-- <div class="inc-btn">+</div> -->
                        <h5>{{  carted_dish.quantity }}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-2"><span>${{  carted_dish.subtotal_carted }}</span>
                  </div>
                  <div class="col-1 text-center"><a :href="'/#/carted_dishes/' + carted_dish.id + '/delete'"><button type="button" class="btn-remove" ><i class="delete fa fa-trash"></i></button></a>
                  </div>
                </div>

               </div>
              </div>
              <!-- Product-->
              <!-- <div class="item">
                <div class="row d-flex align-items-center">
                  <div class="col-5">
                    <div class="d-flex align-items-center"><img src="img/shirt-black.png" alt="..." class="img-fluid">
                      <div class="title"><a href="detail.html">
                          <h5>Loose Oversised Shirt</h5><span class="text-muted">Size: Medium</span></a></div>
                    </div>
                  </div>
                  <div class="col-2"><span>$55.00</span></div>
                  <div class="col-2">
                    <div class="d-flex align-items-center">
                      <div class="quantity d-flex align-items-center">
                        <div class="dec-btn">-</div>
                        <input type="text" value="3" class="quantity-no">
                        <div class="inc-btn">+</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2"><span>$165.00</span></div>
                  <div class="col-1 text-center"><i class="delete fa fa-trash"></i></div>
                </div>
              </div> -->
            </div>

          </div>
        </div>
      </div>
      
      <div class="container">

        <!-- <button class="btn-checkout pull-right"  v-on:click="checkout()">Checkout</button> -->


        <div class="CTAs d-flex align-items-center justify-content-center justify-content-md-end flex-column flex-md-row"><a href="/#/" class="btn btn-template-outlined wide">Continue Shopping</a><a href="#" class="btn btn-template wide" v-on:click="checkout()">Checkout</a>
        </div>
      </div>
    </section>


</template>

<template id="cartedDishes-delete-page">
  <div class="vue-component">

    <a href="/#/carted_dishes">Back to your cart</a>

  </div>

</template>



<template id="orders-index-page">

  <div class="vue-component">
<h1>Your orders</h1>
 <table class="table" >   
    <table id="customers">
        <thead>
         <tr>
          <th>Order</th>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Total</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in orders">
          <td> #{{ order.id }}</td>
          <td>{{ order.subtotal }}</td>
          <td>{{ order.tax }}</td>
          <td>{{ order.total }}</td>
          <td><a :href="'/#/orders/' + order.id + '/delete'"><button type="button" class="btn-remove" ><i class="fa fa-trash"></i></button></a></td>

          
        </tr>
       </tbody>
       </table>
     </table>
           
        </div>
      </div>


  </div>
</template>





 <template id="orders-delete-page">
  <div class="vue-component">


    <a href="/#/orders">Back to orders</a>

  </div>

</template>